/* Copyright Monwoo 2022, build by Miguel Monwoo, service@monwoo.com */
section div div {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

#h\.432d068004ee9366_0 .IFuOkc {
  background-size: 100% !important;
}

[jsname=waIgnc] > :first-child {
  display: none !important;
}

.jYxBte.Fpy8Db [jsname=ibnC6b]:first-child {
  display: none !important;
}
