/* Copyright Monwoo 2022, build by Miguel Monwoo, service@monwoo.com */
section div div {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

#h\.432d068004ee9366_0 .IFuOkc {
  background-size: 100% !important;
}

[jsname=waIgnc]:first-child > :first-child {
  display: none !important;
}

.jYxBte.Fpy8Db > :first-child {
  display: none !important;
}

[jscontroller=j1RDQb] {
  display: none !important;
}

#goTopBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: lightseagreen;
  /* Set a background color */
  opacity: 0.25;
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 50%;
  font-size: 18px;
  /* Increase font size */
}
#goTopBtn :hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}
