# Allow tests results display
# You can also deny or ip specific, cf htaccess doc

Allow from all

# TODO Auth redirects ? targeting html in this folder do not load 
# the html, but something like dashboard or login screen...